// Color variables

$yellow: #ffcf00;
$blue: #2e60ab;
$grey_100: #65676D; 
$grey_200: #888C90; // text
$grey_300: #C7C7C8; // disable
$grey_400: #E0E0E0; // borders
$grey_500: #F2F3F4; // dividers
$grey_600: #FAFAFA; // background
$grey_700: #EEF2F5; // hover