@font-face {
    font-family: IBMPlexMonoRegular;
    src: url('@/assets/fonts/IBMPlexMono-Regular.ttf');
}

@font-face {
    font-family: IBMPlexMonoBold;
    src: url('@/assets/fonts/IBMPlexMono-Bold.ttf');
}

@font-face {
    font-family: InconsolataMedium;
    src: url('@/assets/fonts/Inconsolata-Medium.ttf');
}

@font-face {
    font-family: JostBold;
    src: url('@/assets/fonts/Jost-Bold.ttf');
}
